@import "ember-power-select";
@import 'variables-theme.scss';
@import 'uikit-theme';
@import 'uikit';
// @import 'autocomplete';

// $base-em-color: #64DD17;
// em { color: $base-em-color; }

$tag-background: #424242;
$tag-color: white;

.uk-navbar-container {
  position: fixed;
  top: 0;
  width: 100%
}

.uk-input,
.uk-select,
.uk-textarea {
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: .2s ease-in-out;
  transition-property: color, background-color, border;
}

pre {
  white-space: pre-wrap;
}

@mixin flagged() {
  background: #D50000 !important;
  color: white !important;
}

.letter-list {
  tr {
    cursor: pointer;
  }
}

.auto-complete-list {
  background: #d5d2d2;
  position: absolute;

  li {
    cursor: pointer;
  }
}

.person {
  person {
    background: $tag-background;
    color: $tag-color;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.place {
  place {
    background: $tag-background;
    color: $tag-color;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.writing {
  writing {
    background: $tag-background;
    color: $tag-color;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.public_events {
  public_events {
    background: $tag-background;
    color: $tag-color;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.translating {
  translating {
    background: $tag-background;
    color: $tag-color;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.attendance {
  attendance {
    background: $tag-background;
    color: $tag-color;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.music {
  music {
    background: $tag-background;
    color: $tag-color;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.publication {
  publication {
    background: $tag-background;
    color: $tag-color;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.works_of_art  {
  works-of-art {
    background: $tag-background;
    color: $tag-color;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.production {
  production {
    background: $tag-background;
    color: $tag-color;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.reading {
  reading {
    background: #424242;
    color: white;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.organization {
  organization {
    background: #424242;
    color: white;
    cursor: pointer;
    &.flag {
      @include flagged;
    }
  }
}

.flag {
  background: transparent !important;
  color: #666 !important;
}

.pell-content {
  height: 100px;
}

.uk-text-large {
  text-transform: capitalize;
}

.uk-search-default {
  border: 1px solid #e5e5e5;
  width: 100%;
}

.task-running {
  height: 100vh;
  background: #f0f8ffbf;
  position: absolute;
  width: 100vw;
  top: 0;
}

dt.result {

  &:hover,
  &:hover+dd {
    background: lightgreen;
    cursor: pointer;
  }
}

dl {
  .flagged {
    background: rgba(213, 0, 0, 0.37);
  }
}

pre {
  border: none;
}

.letter-container {
  height: 70vh;
  position: unset;
}

.col {
  height: 100vh;
}

.no-carrot {
  .ember-power-select-status-icon {
    display: none;
  }
}

.power-select-in-modal {
  z-index: 2000;
}

tmp {
  background: black;
  color: white;
  font-size: 1.5em;
}

.no-select {
  user-select: none;
}

.pell {
  border: 2px solid #585858 !important;
}

#edit-card {
  position: absolute;
  top: -100px;
  left: -100px;
}

.contextual-data-table {
  width: 66%;
}