<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li>
                {{#link-to "letters"}}Letters{{/link-to}}
            </li>
            {{#each this.model as |type|}}
            <li>
                {{#link-to "entities" type.friendlyLabel}}
                    {{titleize type.plural}}
                {{/link-to}}
            </li>
            {{/each}}
        </ul>

    </div>
</nav>
<div class="uk-container uk-container-large uk-margin-xlarge-top">
  {{outlet}}
</div>